<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{ title }}</title>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
    rel="stylesheet">
</head>

<body style="margin: 16px; color: #212121; font-family: 'Roboto', sans-serif; font-size: 13px; font-weight: 400">
  <h1 style="font-size: 24px; font-weight: 600">Forgotten password</h1>
  <section>
    <p>
      You told us you forgot your password. If you really did, click here to choose a new one:
    </p>

    <a href="{{ link }}"
      style="display: inline-block; background-color: #1976D2; color: white; padding: 16px 24px; text-decoration: none; margin: 16px; text-align: center; font-size: 16px">
      Choose a new password
    </a>

    <p>
      If you didn't mean to reset your password, then you can just ignore this email; your password will not change.
    </p>
  </section>
</body>

</html>
